# Basics!

In this lecture, we will learn about basic operations related to numbers and variables.

We'll learn about the following topics:

    1.) Types of Numbers in Python
    2.) Basic Arithmetic
    3.) Variable Assignment in Python

## Types of numbers

Python has various "types" of numbers (numeric literals):

1.) <b>Integers</b> are just whole numbers, positive or negative. For example: 2 and -2

2.) <b>Floating point numbers</b> have a decimal point or use an exponential (e). For example: 2.0, -2.1 and 
    4E2 (4 times 10 to the power of 2)

### Basic Arithmetic

In [1]:
# Addition
2+1

3

In [2]:
# Subtraction
2-1

1

In [3]:
# Multiplication
2*2

4

In [4]:
# Division
3/2

1.5

In [5]:
# Floor Division
7//4

1

**Whoa! What just happened? Last time I checked, 7 divided by 4 equals 1.75 not 1!**

The reason we get this result is because we are using "*floor*" division. The // operator (two forward slashes) truncates the decimal without rounding, and returns an integer result.

In [6]:
# Modulo
7%4

3

In [7]:
# Powers
2**3

8

In [8]:
# Can also do roots this way
4**0.5

2.0

In [9]:
# Order of Operations followed in Python
2 + 10 * 10 + 3

105

In [10]:
# Can use parentheses to specify orders
(2+10) * (10+3)

156

## Variable Assignments

Now that we've seen how to use numbers in Python as a calculator let's see how we can assign names and create variables.

We use a single equals sign to assign labels to variables. Let's see a few examples of how we can do this.

In [1]:
# Assignment
a = 5

In [2]:
# Value of a
a

5

What happens on reassignment?

In [13]:
# Reassignment
a = 10

In [14]:
# Value of a
a

10

In [15]:
# Adding 2 to a
a = a + 2

In [16]:
# Check 
a

12

Shortcut to increment/decrement variable value

In [17]:
#same as a = a + 1
a += 1

In [18]:
# Value of a
a

13

### Rules for variable names
* names can not start with a number
* names can not contain spaces, use _ intead
* names can not contain any of these symbols:

      :'",<>/?|\!@#%^&*~-+
       
* it's considered best practice ([PEP8](https://www.python.org/dev/peps/pep-0008/#function-and-variable-names)) that names are lowercase with underscores
* avoid using Python built-in keywords like `list` and `str`
* avoid using the single characters `l` (lowercase letter el), `O` (uppercase letter oh) and `I` (uppercase letter eye) as they can be confused with `1` and `0`


Using variable names can be a very useful way to keep track of different variables in Python. For example:

In [18]:
# Use variable names to keep better track of what's going on in your code!
my_income = 100

tax_rate = 0.1

my_taxes = my_income*tax_rate

In [19]:
# Show my taxes!
my_taxes

10.0

So what have we learned? We learned some of the basics of numbers in Python. We also learned how to do arithmetic and use Python as a basic calculator. We then wrapped it up with learning about Variable Assignment in Python.

Up next we'll learn about Strings!